Development/build/*
Development/install/*
dev/install/*
Development/log/*
__pycache__/
**/node_modules/*


# Log files
*.log
logs/
data_logs/
Development/fleet_framwork/logs/
Development/fleet_framwork/data_logs/
Development/multi_vehicle_self_driving_RealQcar/qcar/scope_recordings
Development/multi_vehicle_self_driving_RealQcar/qcar/test_recordings
Development/multi_vehicle_self_driving_RealQcar/qcar/GUI/scope_recordings

# docker/libraries/resources/pretrained_models
docker/libraries/resources/pretrained_models/
docker/libraries/resources/pretrained_models/yolov8s-seg.engine
docker/libraries/resources/pretrained_models/yolov8s-seg.onnx
docker/libraries/resources/pretrained_models/yolov8s-seg.pt



.history

**/angles_new.mat
**/distances_new.mat
**/distance_new.mat