antlr4-python3-runtime==4.9.3

asttokens==3.0.0

attrs==25.3.0

bcrypt==5.0.0

blinker==1.9.0

casadi==3.7.2

certifi==2025.8.3

cffi==1.17.1

charset-normalizer==3.4.3

clarabel==0.11.1

click==8.2.1

colorama==0.4.6

coloredlogs==15.0.1

comm==0.2.3

ConfigArgParse==1.7.1

contourpy==1.3.3

cryptography==46.0.2

cvxpy==1.7.5

cycler==0.12.1

dash==3.2.0

decorator==5.2.1

executing==2.2.1

fastjsonschema==2.21.2

filelock==3.13.1

Flask==3.1.2

flatbuffers==25.2.10

fonttools==4.61.1

fsspec==2024.6.1

humanfriendly==10.0

idna==3.10

importlib_metadata==8.7.0

iniconfig==2.3.0

invoke==2.2.0

ipython==9.5.0

ipython_pygments_lexers==1.1.1

ipywidgets==8.1.7

itsdangerous==2.2.0

jedi==0.19.2

Jinja2==3.1.4

joblib==1.5.2

jsonschema==4.25.1

jsonschema-specifications==2025.9.1

jupyter_core==5.8.1

jupyterlab_widgets==3.0.15

kiwisolver==1.4.9

lapx==0.5.12

lxml==5.4.0

MarkupSafe==2.1.5

matplotlib==3.10.8

matplotlib-inline==0.1.7

ml_dtypes==0.5.3

mplcursors==0.7

mpmath==1.3.0

narwhals==2.4.0

nbformat==5.10.4

nest-asyncio==1.6.0

networkx==3.3

numpy==2.4.2

nvidia-cuda-runtime-cu12==12.9.79

omegaconf==2.3.0

onnx==1.19.0

onnxruntime-gpu==1.22.0

onnxslim==0.1.67

open3d==0.19.0

opencv-python==4.11.0.86

osqp==1.0.5

packaging==26.0

pandas==2.3.1

paramiko==4.0.0

parso==0.8.5

pillow==12.1.0

platformdirs==4.4.0

plotly==6.3.0

pluggy==1.6.0

polars==1.33.0

prompt_toolkit==3.0.52

protobuf==6.32.0

psutil==7.0.0

pure_eval==0.2.3

pycparser==2.22

pygame==2.6.1

pygit2==1.18.0

Pygments==2.19.2

PyNaCl==1.6.0

pyparsing==3.3.2

PyQt6==6.9.0

PyQt6-Qt6==6.9.0

PyQt6_sip==13.10.2

pyqtgraph==0.13.7

pyreadline3==3.5.4

pytest==9.0.2

python-dateutil==2.9.0.post0

pytransform3d==3.14.1

pytz==2025.2

pywin32==311

PyYAML==6.0.2

referencing==0.36.2

requests==2.32.5

retrying==1.4.2

rpds-py==0.27.1

scikit-learn==1.7.1

scipy==1.15.3

scp==0.15.0

scs==3.2.11

six==1.17.0

stack-data==0.6.3

sympy==1.13.3

tensorrt_cu12==10.13.3.9

tensorrt_cu12_bindings==10.13.3.9

tensorrt_cu12_libs==10.13.3.9

threadpoolctl==3.6.0

torch==2.8.0+cu126

torchaudio==2.8.0+cu126

torchvision==0.23.0+cu126

tqdm==4.67.1

traitlets==5.14.3

transitions==0.9.3

typing_extensions==4.12.2

tzdata==2025.2

ultralytics==8.3.195

ultralytics-thop==2.0.17

urllib3==2.5.0

wcwidth==0.2.13

websockets==15.0.1

Werkzeug==3.1.3

widgetsnbextension==4.0.14

zipp==3.23.0


